version: '3.8'

services:
  frontend:
    image: node:16
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - '3000:3000'
    command: 'npm run dev'
    depends_on:
      - backend

  backend:
    image: tiangolo/uvicorn-gunicorn-fastapi:python3.8
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - '8000:80'
    environment:
      DATABASE_URL: 'postgresql://user:password@db:5432/mydatabase'
    depends_on:
      - db

  db:
    image: postgres:13
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password

  redis:
    image: redis:alpine
    ports:
      - '6379:6379'

volumes:
  postgres_data:
